/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.newswire-video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.newswire-video-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}